body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.todo-details {
    display:flex;
    flex-direction:column;

    .formHeader {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
        width:80% ;
        background-color: black;
        margin: auto;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}

.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;
    width: 90%;

    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;
        border: solid 3px rgba(63, 62, 62, 0.432);
        border-radius: 1.5px;
        padding: 30px;
        width:100%;
        height: 120%;
        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 2em;
        }
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;
        
        li {

            align-items: center;
            display:flex;
            flex-direction:row;
            font-size: .75em;
            margin: .5rem 9rem;
            margin-top: 4rem;


            &.complete-true {
              span {
                background: pink;
                text-decoration:line-through;
                &:hover {
                   background: rgb(185, 157, 179);
                }
              }
              .pre-nxt{
                margin: 0 7em;
            }
            }

            span {
                background: #e0e0e0;
                cursor:pointer;
                font-size: 1.5rem;
                &:hover {
                    background: pink;
                }
            }
             span, input {
                 border: .5px solid #eee;
                 display:inline-block;
                 padding: .2em .25em;
                 width: 300px;
             }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }
            

        }
    }

}